.listing-name {
	
	margin-bottom: 2em;
}
.listing-gallery-grid {
	display: none;
	
}


.listing-gallery-primary-img {
	position: relative;
	
}

.listing-gallery-primary-img > img {
	object-fit: cover;
	height: 100%;
}

.listing-counter {
	position: absolute;
	bottom: 5%;
	right: 5%;
	padding-block: .25em;
	padding-inline: 1.5em;
	font-size: .75em;
	color: #FFF;
	background-color: rgba(0,0,0, 0.5);
	text-align: center;
}

@media(min-width: 900px) {

	.listing-counter {
		display: none;
	}

	.listing-gallery {
		width: 94%;
		margin-inline: auto;
 		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: .5em;
		border-radius: 20px;
		overflow: hidden;
		max-height: 70vh;
		min-height: 70vh;
	}

	.listing-gallery-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: .5em;
		position: relative;
	} 

	.listing-gallery-img {
		
		max-height: 35vh;
	}
	.listing-gallery-img > img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.listing-gallery-showmore {
		position: absolute;
		bottom: 5%;
		right: 5%;
		display: flex;
		align-items: center;
		padding-inline: .75em;
		padding-block: .5em;
		border-radius: 5px;
		background-color: var(--light-gray);
		border: 1.5px solid #000;
		cursor: pointer;

	}	

	.listing-gallery-showmore:hover {
		background-color: rgba(0,0,0, 0.5);
		color: #FFF;
	}

	.listing-gallery-showmore > div {
		margin-left: .5em;

	}	

}
