.slider {
	overflow: hidden;
}

.slider-container {
	display: flex;
	transform: translateX(0);
	transition: all 300ms ease;
	border: 1px solid red;
}

/* for pure carousel */

.pure-car {
	min-width: 100%;
}

.pure-car > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* for an owl carousel */

.owl-car {
	min-width: 25%;
}

.owl-car > img {
	height: 100%;
	width: 100%;
	object-fit: cover;	
}

.slider-wrapper {
	position: relative;

}

.angle {
	width: 35px;
	height: 35px;
	display: grid;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 100;
	top: 50%;
	background-color: rgba(255,255,255, 0.8);
	border-radius: 50%;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}
.angle:hover{
	scale: 1.1;
	background-color: #ffffff;
}


.angle-right {
	right: 5%;
}
.angle-left {
	left: 5%;
}

.heart-ic {
	position: absolute;
	z-index: 99;
	top: 5%;
	right: 5%;
}

.heart-icon {
	font-size: 1.5em;
}

.slider-indicators {
	display: flex;
	position: absolute;
	bottom: 5%;
	left: 42.5%;
}
.circle {
	width: 7px;
	height: 7px;
	margin-right: .2em;
	border-radius: 50%;
	background-color: #ACACAC;
}

.active-circle {
	background-color: #FFFFFF;
	transform: scale(1.1);
}

/* ---------------------------------desktop ------------------- */

@media (min-width: 900px){

	.slider-img {
		min-height: 250px;
		max-height: 250px;
	}
}
