.agent-contacts {
	display: flex;
	
}


.contact-wrapper {
	border: 1px solid grey;
	width: 100%;
	padding-inline: 1em;
	padding-block: 1.5em;

}

.contact-cta {
		
	background-color: #000;
	color: #FFF;
	padding-block: 1em;
	text-align: center;
}

.contact-info {
	margin-top: 1em;
}

.contact-info > * {
	align-items: center;

}

.contact-info > * > div {
	margin-left: 1em;
}

.contact-info > * + * {
	margin-top: .75em;
}


@media (min-width: 900px) {
	.agent-contacts {
		justify-content: flex-end;
	}

	.contact-wrapper {
		width: 75%;
		padding-inline: 2em;
	}

}
